body {
    background-color: rgb(206, 127, 168);
    margin-left: 5%;
    color: white;
}
* {
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.scores, .timer {
    margin-left: 85%;
    padding: auto;
    color: white;
}

.main-screen, .end-screen {
    color: white;
}

.hide {
    display: none;
}

button {
    color: rgb(206, 127, 168);
}